.home {
  .background {
    background: #E4E2E2;
    position: relative;
    width: 100%;
    min-height: 450px;
    background: url(../../images/background.jpg);

    .description {
    }

    .container {
      border: 1px solid #C1BDA6;
      height: 300px;
      width: 380px;
      margin-top: 50px;
      margin-right: 50px;
      float: right;
      border-radius: 4px;
    }
  }

  .form-login {
    top: 10px;
    margin: auto;

    button {
      width: 100%;
      background-color: rgba(55, 186, 196, 0.85);
      border: none;
    }

    form {
      margin-top: 20px;
    }
  }
}