<div class="background">
    <div class="description">
        <div class="divCenter pc-display">
            <span>Just do what you want!</span>
        </div>
    </div>
    <div class="container">
        <div class="form-login">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="label">
                        <label for="inputEmail3" class="control-label">Email:</label>
                    </div>
                    <div class="input">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email"
                               ng-model="user.username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="label">
                        <label for="inputPassword3" class="control-label">Password:</label>
                    </div>
                    <div class="input">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password"
                               ng-model="user.password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <div class="summit">
                        <button type="submit" class="btn btn-default" ng-click="login()">Sign in</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="products">
    <div class="product col-xs-3" ng-repeat="product in products">
        <div class="logo">
            <img ng-src="../images/{{product.name}}.png"/>
        </div>
        <div>
            <div class="title">
                {{product.title}}
            </div>
            <div class="desc">
                {{product.desc}}
            </div>
        </div>
    </div>
</div>